.category {
    position: fixed;
    top: 81px;
    z-index: 990;
    border-bottom: 1px solid #e4e5e7;
    left: 0;
    right: 0;
    display: none;
    background-color: #fff;



    &.sticky {
        display: block;

        &.nosticky {
            position: relative;
            top: 0;
        }
    }

    .category_wrapper {
        .category_container {
            .category__menu {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .categoriesmenu_item {
                    position: relative;

                    .category-link {
                        padding: 8px 0;
                        display: block;
                        position: relative;
                        color: #62646a;


                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            height: 3px;
                            background-color: $color1;
                            transition: all 0.5s;

                        }

                        &:hover {
                            color: $color1;

                            &::after {
                                width: 100%;
                            }
                        }

                        &.activedd {
                            color: $color1;

                            &::after {
                                width: 100%;
                            }
                        }
                    }

                    .category__jobdetail {
                        position: absolute;
                        background-color: #fff;
                        width: 270px;
                        box-shadow: 0px 1px 3px #dadbdd;
                        border: 1px solid #e4e5e7;
                        text-align: left;
                        z-index: 990;
                        display: none;
                        padding: 20px 10px;
                        transition: all 0.5s;

                        .category__jobdetail_p {
                            margin: 0;
                            font-weight: 700;
                        }

                        .category__jobdetail_a {
                            color: #62646a;
                            transition: all 0.5s;

                            &:hover {
                                color: $color1;
                            }
                        }

                    }

                    &:hover {
                        .category__jobdetail {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:1024px) and (max-width:1200px) {
    .category {
        &.sticky {
            display: none;
        }
    }
}

@include tablet {
    .category {
        &.sticky {
            display: none;
        }
    }
}

@include mobile {
    .category {
        &.sticky {
            display: none;
        }
    }
}