.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .page {
        margin-left: 5px;
    }

    input {
        width: 20%;
    }

    button {
        i {
            color: $color1;
        }

        &:hover {
            i {
                color: white;
            }
        }

        &.activeButton,
        &:hover {
            background-color: $color1;
            color: white;

        }


        &:focus {
            box-shadow: none;
        }

    }
}