.pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        i {
            color: $color1;
        }

        &:hover {
            i {
                color: white;
            }
        }

        &.activeButton,
        &:hover {
            background-color: $color1;
            color: white;

        }


        &:focus {
            box-shadow: none;
        }

    }
}