* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  z-index: 1000;
}
.header.nosticky {
  position: relative;
}
.header .header-wrapper .header_container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-wrapper .header_container .header-left {
  display: flex;
  align-items: center;
}
.header .header-wrapper .header_container .header-left .nav__logo {
  font-size: 30px;
  padding-right: 15px;
  font-weight: 700;
  color: #fff;
}
.header .header-wrapper .header_container .header-left .nav__logo i {
  font-size: 10px;
}
.header .header-wrapper .header_container .header-left .header__search {
  display: none;
  transition: all 0.5s;
}
.header .header-wrapper .header_container .header-left .header__search .btn__search {
  background-color: #1dbf73;
  color: #fff;
}
.header .header-wrapper .header_container .header-left .header__search .btn__search:hover {
  background-color: #19a463;
}
.header .header-wrapper .header_container .header-left .nav__overplay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-animation: fadeIn linear 0.2s;
          animation: fadeIn linear 0.2s;
}
.header .header-wrapper .header_container .header-left .nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  width: 320px;
  max-width: 100%;
  opacity: 0;
  transform: translateX(-100%);
  transition: all linear 0.2s;
  z-index: 1000;
}
.header .header-wrapper .header_container .header-left .nav__mobile .nav-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 20px;
}
.header .header-wrapper .header_container .header-left .nav__mobile .nav-close i {
  display: block;
  font-size: 20px;
  color: #74767e;
  transition: all 0.5s;
}
.header .header-wrapper .header_container .header-left .nav__mobile .nav-close i:hover {
  color: #000;
}
.header .header-wrapper .header_container .header-left .navbar__btn {
  display: none;
  margin-right: 15px;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
}
.header .header-wrapper .header_container .header-left .nav__input:checked ~ .nav__overplay {
  display: block;
}
.header .header-wrapper .header_container .header-left .nav__input:checked ~ .nav__mobile {
  transform: translateX(0);
  opacity: 1;
}
.header .header-wrapper .header_container .header-left .nav__mobile-list {
  padding: 10px 20px;
}
.header .header-wrapper .header_container .header-left .nav__mobile-list .sidebar__menu .sidebar-item {
  display: block;
  color: #74767e;
  padding: 4px 0;
  cursor: pointer;
}
.header .header-wrapper .header_container .header-left .nav__mobile-list .sidebar__menu .sidebar-item.sidebar-btn {
  padding: 8px 16px;
  background-color: #1dbf73;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
}
.header .header-wrapper .header_container .header-left .nav__mobile-list .sidebar__menu .sidebar-item.sidebar-btn:hover {
  background-color: #19a463;
}
.header .header-wrapper .header_container .header-left .nav__mobile-list .sidebar__menu .sidebar-item.sidebar-green {
  color: #1dbf73;
}
.header .header-wrapper .header_container .header-left .nav__mobile-list .sidebar__menu .sidebar-item a {
  color: #74767e;
}
.header .header-wrapper .header_container .header-left .nav__mobile-list .sidebar__menu .sidebar-categories .category-collapse {
  cursor: pointer;
}
.header .header-wrapper .header_container .header-left .nav__mobile-list .sidebar__menu .sidebar-categories .category-collapse i {
  transition: all 0.25s;
  margin-left: 10px;
}
.header .header-wrapper .header_container .header-left .nav__mobile-list .sidebar__menu .sidebar-categories .categories__menu {
  transition: all 0.25s;
  opacity: 0;
  padding-left: 20px;
}
.header .header-wrapper .header_container .header-left .nav__mobile-list .sidebar__menu .sidebar-categories .categories__menu .category-item {
  font-size: 14px;
  display: block;
  color: #74767e;
  padding: 4px 0;
}
.header .header-wrapper .header_container .header-left .nav__mobile-list .sidebar__menu .sidebar-categories .categories__menu .category-item:hover {
  color: #1dbf73;
}
.header .header-wrapper .header_container .header-left .nav__mobile-list .sidebar__menu .sidebar-categories.show .category-collapse i {
  transform: rotate(180deg);
}
.header .header-wrapper .header_container .header-left .nav__mobile-list .sidebar__menu .sidebar-categories.show .categories__menu {
  opacity: 1;
}
.header .header-wrapper .header_container .header-right {
  display: flex;
}
.header .header-wrapper .header_container .header-right .header__navbar {
  display: flex;
}
.header .header-wrapper .header_container .header-right .header__navbar .header_navbar-list {
  display: flex;
  align-items: center;
}
.header .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .li_1 {
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
  font-weight: 600;
}
.header .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .li_1 i {
  margin-right: 5px;
}
.header .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .li_1 a {
  color: #fff;
}
.header .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .join {
  border: 1px solid #1dbf73;
  border-radius: 4px;
  padding: 5px 15px;
  margin: 0 10px;
  transition: all 0.2s;
}
.header .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .join:hover {
  background-color: #1dbf73;
}
.header .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .join:hover a {
  color: #fff;
}
.header .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .join a {
  color: #1dbf73;
  font-weight: 600;
}
.header.sticky,
.header .nosticky {
  background-color: #fff;
}
.header.sticky .header-wrapper,
.header .nosticky .header-wrapper {
  border-bottom: 1px solid #e4e5e7;
}
.header.sticky .header-wrapper .header_container .header-left .nav__logo,
.header .nosticky .header-wrapper .header_container .header-left .nav__logo {
  color: #000;
}
.header.sticky .header-wrapper .header_container .header-left .header__search,
.header .nosticky .header-wrapper .header_container .header-left .header__search {
  display: block;
}
.header.sticky .header-wrapper .header_container .header-left .navbar__btn,
.header .nosticky .header-wrapper .header_container .header-left .navbar__btn {
  color: #000;
}
.header.sticky .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .li_1,
.header .nosticky .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .li_1 {
  color: #74767e;
  transition: all 0.5s;
}
.header.sticky .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .li_1:hover,
.header .nosticky .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .li_1:hover {
  color: #1dbf73;
}
.header.sticky .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .li_1.li_fiverr,
.header .nosticky .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .li_1.li_fiverr {
  color: #1e1692;
}
.header.sticky .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .li_1.li_fiverr:hover,
.header .nosticky .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .li_1.li_fiverr:hover {
  color: #1dbf73;
}
.header.sticky .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .li_1 a,
.header .nosticky .header-wrapper .header_container .header-right .header__navbar .header_navbar-list .li_1 a {
  color: #74767e;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .header .header-wrapper .header_container .header-left .navbar__btn {
    display: block;
  }
  .header .header-wrapper .header_container .header-right {
    display: none;
  }
}
@media (max-width: 739px) {
  .header.sticky .header-wrapper .header_container {
    height: 50px;
  }
  .header.sticky .header-wrapper .header_container .header-left .header__search {
    display: none;
  }
  .header .header-wrapper .header_container {
    height: 50px;
    justify-content: center;
  }
  .header .header-wrapper .header_container .header-left .header__search {
    display: none;
  }
  .header .header-wrapper .header_container .header-left .navbar__btn {
    display: block;
  }
  .header .header-wrapper .header_container .header-right {
    display: none;
  }
}
.category {
  position: fixed;
  top: 81px;
  z-index: 990;
  border-bottom: 1px solid #e4e5e7;
  left: 0;
  right: 0;
  display: none;
  background-color: #fff;
}
.category.nosticky {
  position: relative;
  display: block;
}
.category.sticky {
  display: block;
}
.category .category_wrapper .category_container .category__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category .category_wrapper .category_container .category__menu .categoriesmenu_item {
  position: relative;
}
.category .category_wrapper .category_container .category__menu .categoriesmenu_item .category-link {
  padding: 8px 0;
  display: block;
  position: relative;
  color: #62646a;
}
.category .category_wrapper .category_container .category__menu .categoriesmenu_item .category-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #1dbf73;
  transition: all 0.5s;
}
.category .category_wrapper .category_container .category__menu .categoriesmenu_item .category-link:hover {
  color: #1dbf73;
}
.category .category_wrapper .category_container .category__menu .categoriesmenu_item .category-link:hover::after {
  width: 100%;
}
.category .category_wrapper .category_container .category__menu .categoriesmenu_item .category-link.activedd {
  color: #1dbf73;
}
.category .category_wrapper .category_container .category__menu .categoriesmenu_item .category-link.activedd::after {
  width: 100%;
}
.category .category_wrapper .category_container .category__menu .categoriesmenu_item .category__jobdetail {
  position: absolute;
  background-color: #fff;
  width: 350px;
  box-shadow: 0px 1px 3px #dadbdd;
  border: 1px solid #e4e5e7;
  text-align: left;
  z-index: 990;
  display: none;
  padding: 20px 10px;
  transition: all 0.5s;
}
.category .category_wrapper .category_container .category__menu .categoriesmenu_item .category__jobdetail .category__jobdetail_p {
  margin: 0;
  font-weight: 700;
}
.category .category_wrapper .category_container .category__menu .categoriesmenu_item .category__jobdetail .category__jobdetail_a {
  color: #62646a;
  transition: all 0.5s;
}
.category .category_wrapper .category_container .category__menu .categoriesmenu_item .category__jobdetail .category__jobdetail_a:hover {
  color: #1dbf73;
}
.category .category_wrapper .category_container .category__menu .categoriesmenu_item:hover .category__jobdetail {
  display: block;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .category.sticky {
    display: none;
  }
}
@media (max-width: 739px) {
  .category.sticky {
    display: none;
  }
}
.carousel .carousel-background {
  position: relative;
}
.carousel .carousel-background .carousel-slider-tablet-mobile {
  display: none;
}
.carousel .carousel-background .carousel__search {
  position: absolute;
  left: 105px;
  top: 250px;
}
.carousel .carousel-background .carousel__search .carousel__search-title {
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}
.carousel .carousel-background .carousel__search .carousel_btn {
  background-color: #1dbf73;
  color: #fff;
}
.carousel .carousel-background .carousel__search .popular {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.carousel .carousel-background .carousel__search .popular span {
  color: #fff;
}
.carousel .carousel-background .carousel__search .popular .popular_list {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}
.carousel .carousel-background .carousel__search .popular .popular_list .popular_item {
  margin-right: 12px;
}
.carousel .carousel-background .carousel__search .popular .popular_list .popular_item:hover a {
  color: #000;
  background-color: #fff;
}
.carousel .carousel-background .carousel__search .popular .popular_list .popular_item a {
  transition: all 0.5s;
  color: #fff;
  padding: 1px 12px;
  border: 1px solid #fff;
  border-radius: 40px;
  font-weight: 600;
}
.carousel .carousel-background .slider__img {
  width: 100%;
  min-height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .carousel__partner {
  align-items: center;
  display: flex;
  justify-content: center;
}
.carousel .carousel__partner .carousel-trust {
  padding-right: 20px;
  color: #b5b6ba;
  font-weight: 700;
}
.carousel .carousel__partner .partner_list {
  padding-left: 15px;
  align-items: center;
  display: flex;
}
.carousel .carousel__partner .partner_list .partner_item {
  padding-right: 50px;
}
.carousel .carousel__partner .partner_list .partner_item img {
  height: 60px;
  width: 100%;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .carousel .carousel-background .carousel-slider {
    display: none;
  }
  .carousel .carousel-background .carousel-slider-tablet-mobile {
    display: block;
    width: 100%;
    min-height: 500px;
    background-color: #023a15;
  }
  .carousel .carousel-background .carousel__search {
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .carousel .carousel-background .carousel__search .popular {
    display: none;
  }
  .carousel .carousel__partner .carousel-trust {
    display: none;
  }
  .carousel .carousel__partner .partner_list .partner_item {
    padding-right: 25px;
  }
  .carousel .carousel__partner .partner_list .partner_item img {
    height: 50px;
  }
}
@media (max-width: 739px) {
  .carousel .carousel-background .carousel-slider {
    display: none;
  }
  .carousel .carousel-background .carousel-slider-tablet-mobile {
    display: block;
    width: 100%;
    min-height: 300px;
    background-color: #023a15;
  }
  .carousel .carousel-background .carousel__search {
    border: none;
    width: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .carousel .carousel-background .carousel__search .popular {
    display: none;
  }
  .carousel .carousel-background .carousel__search .carousel__search-title {
    font-size: 20px;
  }
  .carousel .carousel-background .carousel__search .form-control-mobile {
    display: block;
    width: 100%;
    border-radius: 4px !important;
  }
  .carousel .carousel-background .carousel__search .carousel_btn {
    display: block;
    width: 100%;
    border-radius: 4px !important;
    margin-top: 15px;
  }
  .carousel .carousel__partner .carousel-trust {
    display: none;
  }
  .carousel .carousel__partner .partner_list .partner_item {
    padding-right: 10px;
  }
  .carousel .carousel__partner .partner_list .partner_item img {
    height: 40px;
  }
}
.mutipleslick {
  margin: 70px auto;
}
.mutipleslick .mutipleslick-title {
  padding-bottom: 20px;
  margin: 0;
  font-weight: 600;
}
.mutipleslick .slick-prev,
.mutipleslick .slick-next {
  z-index: 10 !important;
}
.mutipleslick .slick-prev::before {
  color: #fff !important;
  font-size: 3rem !important;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
}
.mutipleslick .slick-next::before {
  color: #fff !important;
  font-size: 3rem !important;
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}
.mutipleslick .card-slick {
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 0 10px !important;
  transition: all 0.25s;
}
.mutipleslick .card-slick:hover {
  opacity: 0.85;
}
.mutipleslick .card-slick .card_title {
  position: absolute;
  top: 15px;
  color: #fff;
  display: block;
  left: 15px;
  right: 15px;
}
.mutipleslick .card-slick .card_title small {
  display: block;
  font-size: 14px;
  font-weight: 400;
}
.mutipleslick .card-slick img {
  border-radius: 0.25rem;
  width: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .mutipleslick {
    margin: 40px auto;
  }
}
@media (max-width: 739px) {
  .mutipleslick {
    margin: 30px auto;
  }
  .mutipleslick .slick-prev,
.mutipleslick .slick-next {
    display: none !important;
  }
}
.advertisement {
  background-color: #F1FDF7;
}/*# sourceMappingURL=style.css.map */