.admin {
    display: flex;
    min-height: 100vh;
    align-items: stretch;

    .sidebar {
        border-right: 1px solid #ccc;
        min-width: 250px;
        max-width: 250px;
        background: #fff;
        color: $color1;


        .sidebar-header {
            padding: 20px;
            display: block;

            h3 {
                font-weight: 600;
            }
        }

        .list-unstyled {
            padding: 20px 0;

            li {
                padding: 20px;
                margin-bottom: 20px;



                a {
                    transition: all 0.25s;

                    i {
                        margin-right: 5px;
                    }

                    display: flex;
                    align-items: center;

                    text-decoration: none;
                    color: #666;

                    &.active-color {

                        color: $color1;

                    }

                }
            }
        }
    }

    .content {
        width: 100%;

        table {
            margin-bottom: 20px;
        }

        .content-header {
            border-bottom: 1px solid #ccc;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .content-user {
                display: flex;
                align-items: center;

                .user-avatar {
                    margin-right: 10px;
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }
            }
        }

        .content-body {
            padding: 20px;
        }
    }
}